# Secrets
.env
.env.*
!.env.example

# Environnements Python
.venv/
venv/
__pycache__/
*.pyc

# Fichiers volumineux / installateurs
*.dmg
*.mov
*.zip

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs et données générées
logs/
*.log
outputs/
tmp/

# Volumes Docker
postgres_data/
redpanda_data/
metabase_data/
kestra_data/
projet12-sport-data/metabase-backup/
projet12-sport-data/metabase-backup-final/
